{{>home_header}}

    <div class="container lg:flex sm:flex w-full h-auto p-12 justify-between lg:px-24 pt-20 bg-gray-100">
        <a href="#" class="bg-white lg:w-1/4 sm:w-1/4 mt-3 lg:mt-0 w-full max-h-full p-8 shadow-lg border-2 cursor-pointer rounded-md hover:border-8 hover:border-gray-300">
                <div class="items-center mx-auto text-center">
                    <img src="assets/search.png" class="w-1/2 h-auto mx-auto mb-5" />
                    <h4 class="font-bold text-gray-700 hover:text-purple-600 animate__animated animate__fadeInUp">OPAC</h4>
                    <p class="text-sm text-gray-700">Search Your Books And Checkout Your Account</p>
                </div>
        </a>
        <a href="/staff" class="bg-white lg:w-1/4 sm:w-1/4 mt-3 lg:mt-0 w-full max-h-full h-1/2 p-8 shadow-lg border-2 cursor-pointer rounded-md hover:border-8 hover:border-gray-300">
            <div class="items-center mx-auto text-center">
                <img src="assets/steward.png" class="w-1/2 h-auto mx-auto mb-5" />
                <h4 class="font-bold text-gray-700 hover:text-purple-600">Staff</h4>
                <p class="text-sm text-gray-700">Having You On The Team Makes A Huge Difference</p>
            </div>
        </a>
        <a href="#" class="bg-white lg:w-1/4 sm:w-1/4 mt-3 lg:mt-0 w-full max-h-full h-1/2 p-8 shadow-lg border-2 cursor-pointer rounded-md hover:border-8 hover:border-gray-300">
            <div class="items-center mx-auto text-center">
                <img src="assets/event.png" class="w-1/2 h-auto mx-auto mb-5" />
                <h4 class="font-bold text-gray-700 hover:text-purple-600">Events</h4>
                <p class="text-sm text-gray-700">Our Educations Events And Books Festivals</p>
            </div>
        </a>
    </div>

    <div class="container p-10">
        <div class="lg:flex items-center w-full h-auto mx-auto">
            <div class="lg:w-1/2 w-full">
                <img src="assets/19198444.jpg" />
            </div>
            <div class="lg:w-1/2 w-full p-10 text-xl lg:pl-20">
                <h2 class="text-4xl font-bold mb-10 tracking-wider border-b-2 pb-5" id="quality">Our Qualities</h2>
                <ul class="text-gray-500">
                    <li>Accuracy and Precision</li>
                    <li>Legitimacy and Validity</li>
                    <li>Reliability and Consistency</li>
                    <li>Timeliness and Relevance</li>
                    <li>Completeness and Comprehensiveness</li>
                    <li>Availability and Accessibility</li>
                    <li>Granularity and Uniqueness</li>
                </ul>

            </div>
        </div>
    </div>

    <div class="container p-10">
        <p class="font-bold text-4xl text-center m-8 border-b-2 text-gray-400 p-6">Our Sponsers</p>
        <div class="w-3/4 mx-auto">
            <div class="grid grid-cols-3 grid-flow-col">
                <div class="w-20 h-20  wow bounceInUp">
                    <img src="assets/koha.png" />
                </div>
                <div class="w-20 h-20">
                    <img src="assets/bywater-solution.png" />
                </div>
                <div class="w-20 h-20">
                    <img src="assets/koha.png" />
                </div>
                <div class="w-20 h-20">
                    <img src="assets/bywater-solution.png" />
                </div>
            </div>
        </div>

    </div>

  {{>home_footer}}