{{>main_header}}
{{>staff_header}}

    <div class="lg:w-3/5 md:3/5 w-100 mx-auto items-center p-5 pt-14">
        <div class="grid grid-cols-2 gap-8">
            <a href="/staff/circulation" class="grid grid-cols-1 border-2 hover:border-1 hover:border-gray-400 hover:bg-gray-100 rounded-lg cursor-pointer shadow-lg text-white py-5 items-center text-center h-auto">
                <div class="grid grid-cols-1 gap-4 justify-items-center">
                    <img class="w-auto" src="assets/icons8-up-down-arrow-96.png"/>
                    <p class="text-gray-600 font-semibold lg:text-2xl text-1xl">Circulations</p>
                </div>
            </a>
            <a href="/staff/patrons" class="grid grid-cols-1 border-2 hover:border-1 hover:border-gray-400 hover:bg-gray-100 rounded-lg cursor-pointer shadow-lg text-white py-5 items-center text-center h-auto">
                <div class="grid grid-cols-1 gap-4 justify-items-center">
                    <img class="w-auto" src="assets/icons8-user-account-96.png"/>
                    <p class="text-gray-600 font-semibold lg:text-2xl text-1xl">Patrons</p>
                </div>
            </a>
            <a href="/staff/catalogue" class="grid grid-cols-1 border-2 hover:border-1 hover:border-gray-400 hover:bg-gray-100 rounded-lg cursor-pointer shadow-lg text-white py-5 items-center text-center h-auto">
                <div class="grid grid-cols-1 gap-4 justify-items-center">
                    <img class="w-auto" src="assets/icons8-moleskine-96.png"/>
                    <p class="text-gray-600 font-semibold lg:text-2xl text-1xl">Catalogue</p>
                </div>
            </a>
            <a href="/staff/reports" class="grid grid-cols-1 border-2 hover:border-1 hover:border-gray-400 hover:bg-gray-100 rounded-lg cursor-pointer shadow-lg text-white py-5 items-center text-center h-auto">
                <div class="grid grid-cols-1 justify-items-center">
                    <img class="w-auto" src="assets/icons8-combo-chart-96.png"/>
                    <p class="text-gray-600 font-semibold lg:text-2xl text-1xl">Reports</p>
                </div>
            </a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="static/js/staff.js"></script>
</body>

</html>