{{>main_header}}
{{>staff_header}}
<div class="flex text-gray-400 ml-20 mt-6">
    <a href="/staff" class="px-2">Home</a>
</div>
    <div class="lg:w-3/5 md:3/5 w-100 mx-auto items-center p-5 pt-14">
        <div class="grid grid-cols-2 gap-8">
            <a href="/staff/reports/circulations" class="grid grid-cols-1 border-2 hover:border-1 hover:border-gray-400 hover:bg-gray-100 rounded-lg cursor-pointer shadow-lg text-white py-5 items-center text-center h-auto">
                <div class="grid grid-cols-1 gap-4 justify-items-center">
                    <p class="text-gray-600 font-semibold lg:text-2xl text-1xl">Circulations Reports</p>
                </div>
            </a>
            <a href="/staff/reports/patron" class="grid grid-cols-1 border-2 hover:border-1 hover:border-gray-400 hover:bg-gray-100 rounded-lg cursor-pointer shadow-lg text-white py-5 items-center text-center h-auto">
                <div class="grid grid-cols-1 gap-4 justify-items-center">
                    <p class="text-gray-600 font-semibold lg:text-2xl text-1xl">Patrons Reports</p>
                </div>
            </a>
            <a href="/staff/reports/catalogue" class="grid grid-cols-1 border-2 hover:border-1 hover:border-gray-400 hover:bg-gray-100 rounded-lg cursor-pointer shadow-lg text-white py-5 items-center text-center h-auto">
                <div class="grid grid-cols-1 gap-4 justify-items-center">
                    <p class="text-gray-600 font-semibold lg:text-2xl text-1xl">Catalogue Reports</p>
                </div>
            </a>
            <a href="/staff/reports/custom-reports" class="grid grid-cols-1 border-2 hover:border-1 hover:border-gray-400 hover:bg-gray-100 rounded-lg cursor-pointer shadow-lg text-white py-5 items-center text-center h-auto">
                <div class="grid grid-cols-1 justify-items-center">
                    <p class="text-gray-600 font-semibold lg:text-2xl text-1xl">Custom Reports</p>
                </div>
            </a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="static/js/staff.js"></script>
</body>

</html>